* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  body {
    background-color: #F6FDFB;
    color: #1A1A1A;
  }
  .container {
    display: flex;
  }
  .banner {
    background-image: url(images/bannerbest.png);
    padding: 0px;
    width: 100%;
    height: 30px;
  }
  .banner img {
    width: 100%;
    height: 30px;
    display: block;
  }
   .navbar {
    display: flex;
    align-items: center;
    background-color: #E0F5F0;
    padding: 20px 30px;
    gap: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #0D1B2A;
  }
  .nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-links a {
    text-decoration: none;
    color: #1A1A1A;
    font-weight: bold;
  }
   .search-box {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .nav-btn {
    padding: 8px 16px;
    background-color: #42caaf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-btn:hover {
    background-color: #008C72;
  }
  .dropdown {
    position: relative;
  }
  
  .mega-menu {
    display: none;
    position: absolute;
    top: 250%;
    left: 0;
    width: 1000px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1000;
  }
  
  .dropdown:hover .mega-menu {
    display: flex;
  }
  
  .mega-column {
    flex: 1;
    min-width: 100px;
    margin-right: 20px;
  }
  
  .mega-column h4 {
    margin-bottom: 10px;
    color: rgb(18, 160, 160);
  }
  
  .mega-column a {
    display: block;
    text-decoration: none;
    color: #807777;
    margin: 4px 0;
    font-size: 14px;
  }
  
  .mega-column a:hover {
    color: #000;
    font-weight: bold;
  }
  .sidebar {
    width: 850px;
    padding: 20px;
    border-right: 1px solid #ccc;
    height: 100vh;
    position: sticky;
    top: 0;
    background: #E0F5F0;
  }
  
  .sidebar h3 {
    margin-bottom: 10px;
    color: #0D1B2A;
  }
  
  .sidebar ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .sidebar ul li {
    margin: 8px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #0D1B2A;
    font-size: 14px;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
  }
  
  .product-card {
    width: calc(31.66% - 180px);
    border: 5px solid #ffffff;
    padding: 10px 5px;
    background-color: #ffffff;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    background-color: white;
  }
  
  .product-card h3 {
    padding-top: 20px;
    margin-left: 40px;
    text-align: left;
    color: #0D1B2A;
  }
  
  .product-card p {
    text-align: left;
    font-size: 18px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #1A1A1A;
  }
  
  button {
    background-color: #00B894;
    border-radius: 10px;
    padding-bottom: 5px;
    font-size: 19px;
    width: 250px;
    height: 30px;
    transition: 0.3s;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #44bda7;
  }
  
  .product-detail {
    display: flex;
    gap: 30px;
    margin: 40px;
  }
  
  .detail-img {
    width: 40%;
    max-height: 400px;
    object-fit: contain;
  }
  
  .detail-info {
    flex: 1;
  }
  
  .sizes button {
    margin: 5px;
    padding: 8px 12px;
    background-color: #F0F0F0;
    border: 1px solid #bbb;
    cursor: pointer;
  }
  
  .actions button {
    background-color: #00B894;
    color: white;
    margin-right: 10px;
  }
  
  .related-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .related-images img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border: 1px solid #ccc;
  }
  .footer {
    background-color: #b9d1c9;
    color: #333;
    padding: 40px 20px 20px;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .footer-section {
    flex: 1 1 200px;
    margin: 20px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #111;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #e91e63;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #666;
  }
  
  .social-icons a {
    margin-right: 10px;
    display: inline-block;
  }
  
  .social-icons img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  